.gallery {
  height: 1000px;
  position: relative;

  &__line {
    @include maintitleLine($color__main_dark-blue);
  }

  &__maintitle {
    @include maintitle($color__main_dark-blue);
    padding-top: 100px;
    margin-bottom: 106px;
  }

  &__row {
    display: flex;
    height: 438px;
    margin: 0px auto;
    padding: 0;
  }

  &__btn {
    @include button;
    margin: 0 auto;
    margin-top: 59px;
    &:hover {
      transform: scale(0.95);
      background-color: $color__main_dark-blue;
      background-image: none;
      color: $color__main_white;
    }
  }
  &__row1 {
    width: 102%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__row2 {
    width: 50%;
  }

  &__row3 {
    width: 50%;
  }

  &__btncontainer {
    display: flex;
  }
}

.gallery__title_head{
  margin: 22px 0px 5px 0px;

}
.padd {
  padding: 0px 0px 5px 0px;
}

.icon360 {
  width: 80px;
  height: 80px;
  background: url(../assets/icon/css_sprites.png) -136px -10px;
  position: absolute;
  z-index: 7;
  margin: 0px auto;
}

.hov:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(0.98);
}
