.news {
  background-image: linear-gradient(
      49deg,
      rgba(65, 130, 213, 1) 0%,
      rgba(36, 204, 250, 0.7755102040816326) 92%
    ),
    url(../assets/image/news-bg.jpg);
  background-position: bottom;
  background-size: cover;
  height: 1035px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;

  &__maintitle {
    @include maintitle($color__main_white);
    padding: 133px 266px 96px 255px;
  }
  &__line {
    @include maintitleLine($color__main_white);
  }
}

.card {
  width: 370px;
  height: 514px;
  background-color: $color__main_white;
  outline: none;
  border: none;
  cursor: pointer;

  &__image {
    width: 370px;
    height: 240px;
  }

  &__title {
    font-family: $font_GothamBold;
    font-size: 22px;
    line-height: 1.55;
    text-align: left;
    color: $color__main_dark-blue;
    text-transform: uppercase;
    margin: 0px 0px 20px 0px;
  }

  &__text {
    font-family: $font_OpenSans;
    font-size: 18px;
    line-height: 1.67;
    text-align: left;
    color: $color__main_grey;
    margin: 0px 0px 35px 0px;
  }

  &__autor_img {
    width: 60px;
    height: 60px;
  }
  &__autor_name {
    font-family: $font_GothamMedium;
    font-size: 18px;
    line-height: 1.22;
    text-align: left;
    text-transform: uppercase;
    color: $color__main_dark-blue;
    margin: 0px 0px -12px 0px;
  }

  &__date {
    font-family: $font_GothamMedium;
    font-size: 14px;
    line-height: 1.57;
    text-align: left;
    color: $color__main_blue;
  }
  &__autor {
    display: flex;
  }
  &__content {
    margin: 15px 23px 20px 20px;
  }
}

.autor_info {
  margin: 5px 0px 0px 20px;
}

// slider block

.slick-list {
  overflow: hidden;

}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider {
  position: relative;
}

.slick-arrow {
  position: absolute;
  top: 23%;
  margin: 0px -96px 0px -95px;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 40px;
  outline: none;
}

.slick-arrow.slick-prev {
  left: 0;
  background: url(../assets/icon/arrow-left.png) 0 0 / 100% no-repeat;
  border: none;
  cursor: pointer;
}

.slick-arrow.slick-next {
  right: 0;
  background: url(../assets/icon/arrow-right.png) 0 0 / 100% no-repeat;
  border: none;
  cursor: pointer;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slider .slick-dots li {
  list-style: none;
  margin: 60px 20px;
}

.slider .slick-dots button {
  font-size: 0;
  background-color: transparent;
  border: 1px solid $color__main_white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0px 0px;
  outline: none;
}

.slick-dots li.slick-active button {
  background-color: $color__main_white;
  border: 1px solid $color__main_white;
}

.slider__item {
  text-align: center;
  outline: none;

}
