
$font_GothamBook: 'GothamBook';
$font_GothamBold: 'gothambold1';
$font_GothamMedium: 'GothamMedium';
$font_OpenSans: 'Open Sans', sans-serif;

$color__main_white: #ffffff;
$color__main_dark-blue: #2c4058;
$color__main_grey: #4b5562;
$color__main_blue: #55b7ff;
$color__main_violett: #7e5aff;



